{% extends "layout.html" %}
{% block title %}
Job_seek
{% endblock %} 

{% block content %}


<div class="container mt-4">
    <h2 class="mb-4">IT Companies</h2>

    <div class="row">
        {% for company in companies %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ company.company_name }}</h5>
                    
                    <p class="card-text">
                        <strong>Description:</strong> {{ company.company_description }}<br>
                        <strong>Location:</strong> {{ company.location }}<br>
                        <strong>Link:</strong> <a href="{{ company.company_link }}">{{ company.company_link }}</a>
                    </p>
                    <a href="" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No company resgistered at the moment.</p>
        {% endfor %}
    </div>
</div>
    


{% endblock %}