{% extends "layout.html" %}


{% block title %}
About {{ companies.company_name }}
{% endblock %}  
{% block content %}
<h1><img src={{ companies.company_picture.url }} ></h1>


<div class="row">

    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2><strong>{{ companies.company_name }}</strong></h2>
                <h5><i>{{ companies.main_service }}</i></h5> <br>
                <p>{{ companies.motto }}</p> <br>
                {{ companies.company_size }} team members <br>
    <br>
            </div>
        </div>
    </div>


    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3><strong>Contact Information</strong></h3><br>
                <strong>Founder </strong>{{ companies.founder }} <br>
                <strong>Founded </strong>{{ companies.founded }} <br>
                {{ companies.location }}  <br>
                <a href="{{ companies.company_link }}">Visit Company Website</a> <br>
    <br>
            </div>
        </div>
    </div>
</div>



    <div class="row">

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <br>
                    <h3>About Company</h3>
                    <p>{{  companies.company_description }}</p>
             
                
                    <h3>Services</h3>
                    {% for service in companies.services %}
                        <ul>
                            <li>{{ service }}</li>
                
                        </ul>
                
                    {% endfor %}
                </div>
            </div>
        </div>



{% endblock %}