{% load static %}
<div class="modal fade"
     id="forgotModal"
     tabindex="-1"
     aria-labelledby="forgotModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotModalLabel">Forgot Your Password</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="resetForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email1" class="form-label">Email address</label>
                        <input type="email"
                               class="form-control border-secondary"
                               id="email1"
                               name="email"
                               required />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "vote/forgot_otp.html" %}
<script src="{% static 'js/custom/forgot_password.js' %}"></script>
