{% extends "layout.html" %}
{% load static %}

{% block title %}
Home Page
{% endblock %} 

{% block content %}
<div class="heading">

<h1> Nepal's Tech Community Hub</h1>
<h6>Discover IT jobs, tech events, and companies in Nepal - all in one place</h6>
<a href="{% url 'company' %}"><button type="button" class="btn btn-success">Explore Companies</button></a>

<a href="{% url 'job' %}"><button type="button" class="btn btn-light">Explore Jobs   </button></a>

<div class="Image">
<img src="{% static 'images/Laptop.jpeg' %}" alt="Logo" width="1140" height="600" >
</div>
</div>
{% endblock %}