{% extends "bootstrap.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="center-container">
    <form class="login-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       class="form-control"
                       placeholder="Enter your email"
                       required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password"
                           name="password"
                           id="password"
                           class="form-control"
                           required />
                    <button type="button"
                            class="btn btn-outline-secondary"
                            onclick="togglePassword()">Show</button>
                </div>
            </div>
            <div class="mb-3 text-end">
                <a href="#"
                   class="text-decoration-none"
                   data-bs-toggle="modal"
                   data-bs-target="#forgotModal">Forgot your Password?</a>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>

    {% include "job_app/forgot_password.html" %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock content %}
