{% extends "layout.html" %}
{% block content %}
    {% load static %}
    
    <p class="d-inline-flex gap-1">
        <a class="btn disabled" aria-disabled="true" role="button">Seeker</a>
        <a href="{% url 'company_registration' %}" class="btn btn-outline-primary" role="button">Company</a>
    </p>
    <div class="container py-5">
        <!-- Form Card -->
        <div class="d-flex justify-content-center">
            <div class="card shadow card-narrow">
                <div class="card-header bg-white">
                    <h5 class="card-title mb-0">
                        <i class="bi bi-person"></i> User Registration Form
                    </h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!-- First Name -->
                        <div class="mb-3">
                            <label for="firstName" class="form-label">
                                First Name <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="firstName" id="firstName" required />
                            
                        </div>
                        <!-- Last Name -->
                        <div class="mb-3">
                            <label for="lastName" class="form-label">
                                Last Name <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="lastName" id="lastName" required />                            
                        </div>
                        <!-- Username -->
                        <div class="mb-3">
                            <label for="username" class="form-label">
                                Username <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="username" id="username" required />
                            
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">
                                Email <span class="text-danger">*</span>
                            </label>
                            <input type="email" class="form-control" name="email" id="email" required />
                            
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">
                                Password <span class="text-danger">*</span>
                            </label>
                            <input type="password" class="form-control" name="password" id="password" required />
                            
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
