{% extends "layout.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

<div class="center-container">
    <form method="post" class="post">

            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       class="form-control"
                       placeholder="Enter your email"
                       required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password"
                           name="password"
                           id="password"
                           class="form-control"
                           required />
                    
                </div>
            </div>
            <div class="mb-3 text-end">
                <a href="#"
                   class="text-decoration-none"
                   data-bs-toggle="modal"
                   data-bs-target="#forgotModal">Forgot your Password?</a>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>

    {% include "job_app/forgot_password.html" %}
    {% comment %} <script src="{% static 'js/login.js' %}"></script> {% endcomment %}
{% endblock content %}
